body {
  background-color:##0000FF;/* Warna biru tua */
  font-family; Arial,sans-serif;/*Jenis huruf yang bersih dan mudah dibaca */
  color:FF#0066;/* Warna teks utama (pink muda) */
}
.kartu-profil
widgth:300px;
margin:50px auto; /*50 px jarak atas /bawah,auto menengah kiri/kanan*/
padding:20px;
background-color:soft pink
border-radius:15px; /" Membuat sudut menjadi melengkung "/
box-shadow:0 4px 8px rgba(0,0,0,0,1);/* efek bayangan */
text-align: center; /* Menengahkan semua teks didalam kartu
.kartu-profil img {
  width:150px
  border-radius: 50%; /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna
  )
  .kartu-profil img {
    
